# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Jupyter
.ipynb_checkpoints/

# Models
models/*
!models/.gitkeep

# Data
data/raw/*
data/processed/*
data/external/*

# Logs
logs/*
!logs/.gitkeep

# Environment
.env
.venv/
*.egg-info/